/* Header Font */
@import url("https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i");

html {
    position: relative;
}

body {
    background-image: url();
    margin-bottom: 10%;
}

/* top navbar */ 
.navbar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    background-color:#ff9a76;
    display: flex;  
}

/* main title */
.display-2 {
    font-family: 'Playfair Display', serif;
    padding-top: 2%;
    padding-bottom: 1%;
}

#footer {
    background-color: #ff9a76;
    position: absolute;
    bottom: 0px;
    width: 100%;
    clear: both;
    }
    
    #footer p {
        text-align: center;
        padding: 5px;
        margin: 0;
        font-size: 12px;
        color: black;
    }
    
    #footer a {
        color: black;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 13px;
    }